# Python
*.pyc
__pycache__/

# Firebase
.env
secrets.json
secrets_bookiftar.json
/Users/sulemanm/Documents/Python/Book_Iftar/ramadan-iftar-booking/secrets.json
/Users/sulemanm/Documents/Python/Book_Iftar/ramadan-iftar-booking/secrets_bookiftar.json
olddb2.txt
# IDE files
.vscode/
.idea/
