<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - Ramadan Iftar Booking</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="static/logo_ichc.jpg" alt="ICHC Logo" class="logo" height = 100px>
        </header>
        <header2 class="header">
            <h2>Thank You!</h2>
        </header2>

        <div class="thank-you-message">
            <p>Your booking has been successfully submitted!</p>
            <p>We truly appreciate your contribution to sponsoring Iftar & Dinner at Masjid Bilal. JazakAllah Khair!</p>
        </div>
        <div class="thank-you-actions">
            <a href="/" class="button">Go Back to Home</a>
            <a href="https://www.masjidbilaltx.org" target="_blank" class="button">Visit Masjid Bilal</a>
        </div>
    </div>
</body>
</html>
